<div class="container mt-5">
  <h1 class="text-center mb-5">Minimarket LP</h1>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <div class="col" *ngFor="let product of productos">
      <div class="card">
        <div class="ratio ratio-4x3">
            <img
            [src]="product.image_url"
            class="card-img-top product-img"
            alt="{{ product.nombre }}"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title text-truncate">{{ product.nombre }}</h5>
          <p class="card-text text-truncate">{{ product.descripcion }}</p>
          <p class="card-text">
            <strong>Precio: ${{ product.precio }}</strong>
          </p>
          <p class="card-text">Stock: {{ product.stock }}</p>
          <form>
            <div class="mb-3">
              <input
                type="number"
                class="form-control form-control-sm"
                id="quantity"
                min="1"
                max="{{ product.stock }}"
                placeholder="Cantidad"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-sm">
              Añadir al Carrito
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
