.product-img {
  object-fit: cover;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 1rem;
}

.card-title,
.card-text {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
