<div class="container-fluid mt-4">
  <nav class="page-breadcrumb mb-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/productos" class="text-decoration-none">Productos</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ producto.nombre }}
      </li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="card-title mb-0">Detalles Generales</h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <span class="fw-bold">Nombre:</span>
              <span>{{ producto.nombre }}</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <span class="fw-bold">Descripción:</span>
              <span>{{ producto.descripcion }}</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <span class="fw-bold">Precio:</span>
              <span>{{ producto.precio }}</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <span class="fw-bold">Stock:</span>
              <span>{{ producto.stock }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
